
<br/><br/><br/><br/><br/>
<div class="col-lg-8 col-lg-offset-2">  
        <h2 class="h2home">{{titulo}}</h2>    
</div>


<br/>
<div class="col-lg-8 col-lg-offset-2" >
        <br/>
        <p class="phome">Si buscas un concesionario de segunda mano para comprar un coche, en Concesionario Rodriguez vendemos coches en toda España al mejor precio. Olvídese de comprarlo 
        a particulares, en Concesionario Rodríguez vendemos nuestros coches al mejor precio. 

        Vendemos coches de ocasión pendientes de pago procedentes de bancos, financieras, renting y leasing. Si te estas preguntando cómo comprar el coche urgente 
        nuestra experimentada gestoría se encargará de todo el papeleo. Recuerda que en nuestro concesionario de segunda mano no es necesario solicitar cita previa 
        para comprar un vehículo. </p>

        <p class="phome">Clickando en el siguiente enlace, encontrarás los coches que disponemos.  </p>
                <img class="imagenn" 
                src="https://st2.depositphotos.com/1832639/8928/i/950/depositphotos_89285434-stock-photo-buy-button-isolated-on-white.jpg"
                 width="150" height="150" [routerLink]="['/productos']" > <br/>
       
</div>  
              
              
              
<div class="col-lg-8 col-lg-offset-2" >  
        <br/>
        <p class="phome">  <br/> <br/> <br/>Si por el contrario lo que desea es vender su coche, pongase en contacto con nosotros, a traves de nuestro telefono 911 52 35 44 y le facilitaremos un usuario y contraseña 
            para que pueda acceder al apartado de vender un vehículo y asi pueda poner ahi su coche a la venta.
        </p>
            
        
        
        <p class="phome"> Una vez tenga el usuario y contraseña puede hacer click aquí para poner a la venta su coche:</p>
        
        <img class="imagenn" (click)="entrar()"
        src="https://st2.depositphotos.com/2274151/10538/v/950/depositphotos_105384902-stock-illustration-sell-red-round-flat-isolated.jpg"
         width="150" height="150" >
</div>
