<br/><br/><br/><br/><br/>


<div class="col-lg-8 col-lg-offset-1">
  <h1>Para realizar la venta debes estar registrado</h1>
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Status_iucn_CR_icon_blank.svg/2000px-Status_iucn_CR_icon_blank.svg.png" />
    <p id="profile-name" class="profile-name-card"></p>
    
    <div class="form-signin">
      <input id="usuario" class="form-control" [(ngModel)]="usuario" placeholder="Usuario" required autofocus>
      <input type="password" id="inputPassword" [(ngModel)]="pass" class="form-control" placeholder="Contraseña" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()">Entrar</button>
      <span class="alert-danger" *ngIf="nouser"  id="error">*El usuario no es valido</span>
      <span class="alert-danger" *ngIf="nopass"  id="error">*La contraseña no es valida</span>
      <span class="alert-danger" *ngIf="nologin"  id="error">*Rellene todos los campos</span>
    </div>
    
  </div>
</div>
