<div class="col-lg-8 col-lg-offset-1">
    <br/><br/><br/><br/><br/>
    <h2>*Para seguir con esta operación debe estar registrado.</h2>
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="https://i.pinimg.com/originals/64/10/e8/6410e89f28f8d1b00fa3a20a51c321f7.jpg" />
      <p id="profile-name" class="profile-name-card"></p>
      
      <div class="form-signin">
        <input id="usuario" class="form-control" [(ngModel)]="usuario" placeholder="Usuario" required autofocus>
        <input type="password" id="inputPassword" [(ngModel)]="pass" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()">Entrar</button>
        <span class="alert-danger" *ngIf="nologin" >*El usuario no es correcto</span>
      </div>
      
    </div>
  </div>
  
  