<br/><br/><br/><br/><br/><h2>{{titulo}} </h2>


<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-2" id="form-producto">
    <label>
        Modelo
        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El modelo es obligatorio</span>
    </label>
    <input id="modelform" type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control" required />
    <br/> 

    <label>
        Descripcion
        <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">La descripción es obligatorio</span>
    </label>
    <textarea type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" required ></textarea><br/>

    <label>
        Precio
        <span *ngIf="!precio.valid && precio.touched" class="label label-danger">El precio no es correcto</span>
    </label>
    <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control" required/><br/>

    <label>Imagen</label>
    <input type="file" class="form-control"(change)="fileChangeEvent($event)" />
    <br/>
    <div *ngIf="is_edit">
            <img src="http://localhost/proyecto2asir/uploads/{{producto.imagen}}" width="100px"/>
    </div>
    <br/>

    <input type="submit" value="{{titulo}}" [disabled]="!formProducto.form.valid" class="btn btn-success"/>
</form>