<br/><br/><br/><br/><br/>
<div id="rellena" class="col-lg-8 col-lg-offset-1">
  <h1>Rellene todos los campos para registrar a un nuevo usuario</h1>
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Status_iucn_CR_icon_blank.svg/2000px-Status_iucn_CR_icon_blank.svg.png" />
    <p id="profile-name" class="profile-name-card"></p>
    
    <div class="form-signin">
      <input id="inputNombre" [(ngModel)]="usuario.nombre" class="form-control addMargin" placeholder="Nombre" required autofocus>
      <input id="inputUsuario" class="form-control addMargin" [(ngModel)]="usuario.user" placeholder="Usuario" required >
      <input type="password" id="inputPassword" [(ngModel)]="usuario.pass" class="form-control addMargin" placeholder="Contraseña" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="registrar()">Crear Cuenta</button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="atras()">Atrás</button>
      <span class="alert-danger" *ngIf="nologin"  id="error">*Los datos no son validos. Reviselos</span>
      <span class="alert-danger" *ngIf="norellene"  id="error">*Rellene todos los campos</span>
    </div>
    
  </div>
</div>
